In [1]:
!pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openai
  Downloading openai-0.25.0.tar.gz (44 kB)
     |████████████████████████████████| 44 kB 2.3 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from openai) (4.4.0)
Requirement already satisfied: pandas>=1.2.3 in /usr/local/lib/python3.8/dist-packages (from openai) (1.3.5)
Collecting pandas-stubs>=1.1.0.11
  Downloading pandas_stubs-1.5.2.221213-py3-none-any.whl (147 kB)
     |████████████████████████████████| 147 kB 73.5 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from openai) (1.21.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from openai) (4.64.1)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.8/dist-packages (from openai) (2.23.0)
Requirement already satisfied: openpyxl>=3.0.7 in /usr/local/lib/python3.8/dist-packages (from openai) (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl>=3.0.7->openai) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.2.3->openai) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.2.3->openai) (2022.6)
Collecting types-pytz>=2022.1.1
  Downloading types_pytz-2022.7.0.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.3->openai) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.20->openai) (1.24.3)
Building wheels for collected packages: openai
  Building wheel for openai (PEP 517) ... done
  Created wheel for openai: filename=openai-0.25.0-py3-none-any.whl size=55880 sha256=c4b7589b7267e2d358d5b997d13b64db5f61e25f52fd471e2002e8e65a23905f
  Stored in directory: /root/.cache/pip/wheels/4b/92/33/6f57c7aae0b16875267999a50570e81f15eecec577ebe05a2e
Successfully built openai
Installing collected packages: types-pytz, pandas-stubs, openai
Successfully installed openai-0.25.0 pandas-stubs-1.5.2.221213 types-pytz-2022.7.0.0

In [31]:
import json
import openai

In [32]:
with open('GPT_SECRET_KEY.json') as f:
    data = json.load(f)

In [33]:
openai.api_key = data["API_KEY"]

In [34]:
from gpt import GPT
from gpt import Example

In [35]:
gpt = GPT(engine="davinci",
          temperature=0.5,
          max_tokens=100)

# Adding Examples for GPT Model

In [36]:
gpt.add_example(Example('Fetch unique values of DEPARTMENT from Worker table.', 
                        'Select distinct DEPARTMENT from Worker;'))

In [37]:
gpt.add_example(Example('Print the first three characters of FIRST_NAME from Worker table.', 
                        'Select substring(FIRST_NAME,1,3) from Worker;'))

In [38]:
gpt.add_example(Example("Find the position of the alphabet ('a') in the first name column 'Amitabh' from Worker table.", 
                        "Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh';"))

In [39]:
gpt.add_example(Example("Print the FIRST_NAME from Worker table after replacing 'a' with 'A'.", 
                        "Select CONCAT(FIRST_NAME, ' ', LAST_NAME) AS 'COMPLETE_NAME' from Worker;"))

In [40]:
gpt.add_example(Example("Display the second highest salary from the Worker table.", 
                        "Select max(Salary) from Worker where Salary not in (Select max(Salary) from Worker);"))

In [41]:
gpt.add_example(Example("Display the highest salary from the Worker table.", 
                        "Select max(Salary) from Worker;"))

In [42]:
gpt.add_example(Example("Fetch the count of employees working in the department Admin.", 
                        "SELECT COUNT(*) FROM worker WHERE DEPARTMENT = 'Admin';"))

In [43]:
gpt.add_example(Example("Get all details of the Workers whose SALARY lies between 100000 and 500000.", 
                        "Select * from Worker where SALARY between 100000 and 500000;"))

In [44]:
gpt.add_example(Example("Get Salary details of the Workers", 
                        "Select Salary from Worker"))

# Example 1

In [45]:
prompt = "Display the lowest salary from the Worker table."

In [46]:
output = gpt.submit_request(prompt)

In [47]:
output.choices[0].text

'output: Select min(Salary) from Worker;\n'

# Example 2

In [48]:
prompt = "Tell me the count of employees working in the department HR."

In [49]:
output = gpt.submit_request(prompt)

In [50]:
output.choices[0].text

"output: SELECT COUNT(*) FROM worker WHERE DEPARTMENT = 'HR';\n"

# Example 3

In [51]:
prompt = "Get salary details of the Workers whose AGE lies between 25 and 35"

In [52]:
print(gpt.get_top_reply(prompt))

output: Select * from Worker where AGE between 25 and 35;

In [53]:
prompt = "Get average of AGE of 2022 in NewYork on 21st August"

In [54]:
print(gpt.get_top_reply(prompt))

output: Select AVG(AGE) FROM NewYork WHERE DATE='21-Aug-2022';

## Function

In [55]:
def Q_and_A():
  prompt = input("Enter the Querry: ")
  print(gpt.get_top_reply(prompt))

In [57]:
Q_and_A()

Enter the Querry: Get average of AGE of 2022 in NewYork on 21st August
output: Select AVG(AGE) from Worker where DATE_OF_BIRTH = '2022-08-21' and LOCATION = 'NewYork';